@import 'tailwindcss';

.btn-main {
  cursor: pointer;
  color: white;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  padding-block: 16px;
  background: linear-gradient(135deg, #f97316, #ea580c);
  border-radius: 50px;
}
